body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.nav {
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
    
}

#logo {
    width: 13%;
    position: relative;
    left: 100px;
    top: 1px;
}

#cart-png {
    width: 3%;
    position: relative;
    top: 0px;
    cursor: pointer;

}


#form-input>#sub-btn{
    display: none;
}

.nav #search{
    /* font-size: 15px;
    width: 40%;
    background-color: rgb(240, 239, 239);
    border: none;
    border-radius: 10px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 50px;
     position: relative;
    left: 50px; */

    border: none;
    border-radius: 8px;
    background-color: #f7f7f7;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 5px;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    color: #77777e;
    letter-spacing: .45px;
    margin: 0;
    padding: 10px 45px;
    height: 48px;
    width: 610px;
    caret-color: #33c4c5;
}

#search-logo {
    position: relative;
    left: 125px;
    bottom: 0px;
    /* position: absolute;
    left: 14.24px;
    top: 14.5px;
    height: 18.41px; */
    width: 24.24px;
}

#login-btn {
    padding: 12px 30px;
    background-color: #00b5b7;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* position: relative;
    right: 50px; */
}

#cart-count {
    display: flex;
    /* background-color: rgb(73, 221, 73); */
    background-color: #fff;
    width: 1.2%;
    height: 18px;
    /* text-align: ; */
    color:  #058753;
    /* border-radius: 100px; */
    position: relative;
    right: 117px;
    bottom: 13px;
    font-size: 7px;
    font-family: 'Cairo', sans-serif;

}

#count {
    position: absolute;
    left: 4.5px;
    top: -3px;
    font-size: 18px;
    font-weight: bold;
}




.nav-2 {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-around;
    margin-top: 2px;
    background-color: #fff;
    position: sticky;
}

#sort {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #dbdee9;
    border-radius: 4px;
    padding-left: 45px;
    padding-right: 30px;
    height: 40px;

}

#sort>p {
    font-weight: 600;
    color: #77777e;
    font-family: 'Montserrat', sans-serif;
}

#Cato-logo {
    width: 1%;
    position: relative;
    right: 270px;
    bottom: 0;
}
.nav-2-items{
  
    color: #77777e;
    font-family: 'Montserrat', sans-serif;

}
.items-nav{
    display: flex;
    width: 80%;
    height: 70px;
    align-items: center;
    justify-content: space-around;

}

.third-row{
   display: flex;
   align-items: center;
   background-color: #effbfc;
   justify-content: center;
   font-family: 'Cairo', sans-serif;
   font-weight: 500;
   font-size: 17px;
   color: #77777e;
}
.slide-1{
    position: relative;
    right: 12px;
    top: 10px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    /* background-color: #f7f7f7; */
    margin: auto;
}
.slide-1>img{
    width: 98.5%;
}

.slide-1-btn>button{

    width: 50px;
    height: 50px;

    border-radius: 100px;
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.511);
}
.slide-1-btn{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    bottom: 220px;
    

}

/* .slick-dots{
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    width: 10%;
    padding-left: 20px;
   
}
.Dots-1{
    font-size: 50px;
} */

.Poster-Section-1{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    padding-top: 35px;
    /* padding-bottom: 20px; */
    justify-content: center;
    background-color: #fff;
    margin-top: 20px;
}
.Poster-Section-1>img{
    border-radius: 10px;
    width: 90%;
}

.slide-2{
    width: 100%;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    background-color: #fff;
    margin-top: 15px;
    
   

}
#slide-2-image{
    width: 70%;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 30px;
    
}

.slide-2-btn>button{
    width: 38px;
    height: 38px;
    border-radius: 100px;
    font-size: 25px;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0.511);
   

}
.slide-2-btn{
    width: 68%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: relative;
    bottom: 180px;
}



.Poster-Section-2{
    background-color: white;
    margin-top: -43px;
    font-family: Montserrat, sans-serif;
    padding-bottom: 15px;
   
}
.Poster-section-2-card{
    margin-top: 0;
    display: grid;
    grid-template-columns: 18% 18% 18% 18%;
    gap: 10px;
    justify-content: center;
}
.Poster-section-2-card>img{
    border-radius: 10px;
    width: 100%;
}

.Poster-Section-2>h2{
    margin-left: 200px;
    padding-top: 20px;
}




.container-product-1{
    margin-top: -160px;
    display: grid;
    grid-template-columns: repeat(4,20%);
    justify-content: center;
    gap: 20px;
    padding-bottom: 15px;
    background-color: #fff;
    padding-top: 100px;
}
.container-product-1>div>div:first-child{
    padding-top: 10px;
    background-color: #f7f7f7;
   width: 100%;
   height: 200px;
   border-radius: 10px 10px 0px 0px;
  
}

.container-product-1>div>div:first-child>img{
    width: 60%;
    mix-blend-mode: darken;
    display: block;
    margin: auto;
    padding-top: 20px;
    
}

.container-product-1>div{
  
    border-radius: 10px;
    font-family: Montserrat,sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: white;
    border: 1px solid #dbdee9;
    padding-bottom: 10px;
}


.container-product-1>div>.first-click{
    display: block;
    background: #fff9f4;
    border: 1px solid #ff8914;
    border-radius: 8px;
    color: #ff8914!important;
    height: 40px;
    width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: -20px;
  

}
.container-product-1>div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.container-product-1>div:hover>.first-click{
    font-size: 14px;
    font-weight: 600;
    display: -moz-box;
    display: flex;
    border: none;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    background: #ff8914;
    color: #fff!important;
    cursor: pointer;
    white-space: nowrap;
    

}


.mrp-cross{
    text-decoration: line-through;
}

.container-product-1>div>button,p,h3{
    padding-left: 10px;
}
.riview-div{
    display: grid;
    grid-template-columns: 40% 40%;
    background-color: #00b5b7;
    gap: 15px;
    color: white;
    width: 20%;
    height: 30px;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
    margin-top: 30px;
    border-radius: 4px;
   
}

.rating-value{
    position: relative;
    left: 80px;
    bottom: 35px;
    font-size: 10px;
    font-weight: lighter;
    
}
.brand-name{
    color: #00b5b7;
    font-weight: 500;
    font-size: 12px;
}
.pro-name{
    margin-top: -20px;
}
.star-png{
    width: 80%;
    
}
.riview-div>p,img{
    position: relative;
    bottom: 10px;
}

.discount-price{
    color: green;
    font-size: 15px;
    position: relative;
    bottom: 39px;
    left: 70px;
}
#product-1-value{
    text-align: center;
    margin-right: 30px;
    position: relative;
    bottom: 30px;
  font-family: Montserrat, sans-serif;
}


#product-1-view-All{
    text-align: right;
    position: relative;
    left: -50px;
    bottom: 70px;
    color: #00b5b7;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
}












.container-product-2{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4,20%);
    justify-content: center;
    gap: 20px;
    padding-bottom: 15px;
    background-color: #fff;
    padding-top: 100px;
}
.container-product-2>div>div:first-child{
    padding-top: 10px;
    background-color: #f7f7f7;
   width: 100%;
   border-radius: 10px 10px 0px 0px;
  
}

.container-product-2>div>div:first-child>img{
    width: 70%;
    mix-blend-mode: darken;
    display: block;
    margin: auto;
}

.container-product-2>div{
   
    border-radius: 10px;
    font-family: Montserrat,sans-serif;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* margin-top: 30px; */
    background-color: white;
    border: 1px solid #dbdee9;
    padding-bottom: 10px;
}


.container-product-2>div>button{
    display: block;
    background: #fff9f4;
    border: 1px solid #ff8914;
    border-radius: 8px;
    color: #ff8914!important;
    height: 40px;
    width: 80%;
    justify-content: center;
    margin: auto;
  

}
.container-product-2>div:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.container-product-2>div:hover>button{
    font-size: 14px;
    font-weight: 600;
    display: -moz-box;
    display: flex;
    border: none;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    background: #ff8914;
    color: #fff!important;
    cursor: pointer;
    white-space: nowrap;
    

}
.mrp-cross{
    text-decoration: line-through;
}

.container-product-2>div>button,p,h3{
    padding-left: 10px;
}
.riview-div{
    display: grid;
    grid-template-columns: 40% 40%;
    background-color: #00b5b7;
    gap: 15px;
    color: white;
    width: 20%;
    height: 30px;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
    margin-top: 30px;
    border-radius: 4px;
   
}
.star-png{
    width: 80%;
    
}
.riview-div>p,img{
    position: relative;
    bottom: 10px;
}

.discount-price{
    color: green;
    font-size: 15px;
    position: relative;
    bottom: 39px;
    left: 70px;
}
.inner-div-product-2{
    border: 2px solid red;
}
#view-link{
    text-align: end;
    margin-right: 30px;
    position: relative;
  bottom: 650px;
  font-family: Montserrat, sans-serif;
  color: #00b5b7;
  font-size: 15px;
}

#product-2-value{
    text-align: center;
    margin-right: 30px;
    position: relative;
    bottom: 680px;
    font-family: Montserrat, sans-serif;
    cursor: pointer;
}







.category-last-Section{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -85px;
}
.category-last-Section>div:last-child{
    display: grid;
    grid-template-columns: repeat(6,12%);
    gap: 20px;
    justify-content: center;
}
.category-last-Section>div:last-child>img{
    width: 100%;
    border-radius: 10px;
}
.category-last-Section>div:first-child{
    font-family: Montserrat, sans-serif;
    padding-bottom: 20px;
    width: 30%;
    margin-left: 165px;
}








.brands-section{
    background-color: white;
    font-family: Montserrat, sans-serif;
    padding-top: 10px;
    margin-top: 15px;
}
.brands-section>div:first-child{
    width: 30%;
    margin-bottom: 20px;
    
    margin-left: 170px;
}
.brands-section>div:last-child{
    width: 85%;
    display: flex;
    gap: 50px;
    margin-left: 170px;
    /* margin: auto; */
}







.why{
    margin-top: 15px;
    background-color: white;
    font-family: Montserrat, sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
}
.why>div:last-child{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,30%);
    justify-content: space-around;
    margin: auto;
}
.why>div:first-child{
    width: 30%;
    margin-bottom: 50px;
    margin-left: 170px;
}
.why>div:last-child img{
    width: 20%;
    border-radius: 10px;
}
.why>div:last-child>div>p{
    margin-left: -10px;
    font-size: 15px;
}

/* .mobile-section{
    display: flex;
    background-color: white;
    margin-top: 20px;
    font-family: Montserrat, sans-serif;
    
}

.mobile-section>div:first-child img{
    width: 90%;
    margin-top: 10px;
    margin-left: -30px;
} */


.footer{
    /* height: 600px; */
    width: 100%;
    background-color:  #212121;
    margin-top: 15px;
padding-bottom: 10px;
margin-bottom: -350px;
}

#footer-logo{
   width: 20%;
   margin-top: 15px;
   margin-left: 39%;
   
    
}
.footer>div:first-child{
    background-color: white;
}

.footer>div:nth-child(2){
    width: 66%;
    display: flex;
    font-family: Montserrat, sans-serif;
    color: white;
    gap: 50px;
    font-size: 14px;
    margin-left: 80px;
    border-right: 1px solid rgba(255, 255, 255, 0.646);
    margin-top: 20px;

}

.footer>div:nth-child(2) p{
    color: rgba(255, 255, 255, 0.646);
    margin-left: -10px;

}

.footer>div:nth-child(3){
    display: flex;
    margin-top: 50px;
    margin-left: 80px;
    gap: 10px;
    
}
.footer>div:nth-child(3) img{
    border-radius: 5px;
}
.footer>div:nth-child(4){
    color:  rgba(255, 255, 255, 0.646);
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-top: 1px solid rgba(255, 255, 255, 0.646);
    margin-left: 80px;
    
}
.footer>div:nth-child(4)>div{
    display: flex;
    /* border-right: 1px solid white; */
}
.footer>div:nth-child(4)>div>div{
    border-right: 1px solid rgba(255, 255, 255, 0.646);
    padding-left: 20px;
    padding-right: 20px;
    height: 20px;
    margin-top: 15px;

   
}
.footer>div:nth-child(4)>div>div>p{
    position: relative;
    bottom: 15px;
   
}
.footer>div:nth-child(4)>div:first-child{
    border: none;
}

 #phone-image{ 
   width: 100%;
   border-radius: 15px;
} 
#last-section-phone{
    width: 22%;
    display: flex;
    margin-left: 74.5%;
    justify-content: end;
    position: relative;
    bottom: 110px;

} 


#store-logo{
    width: 20%;
    display: flex;
    margin-left: 74.8%;
    justify-content: end;
    position: relative;
    bottom: 90px;
    left: 15px;
}
#store-logo-image{
    width: 100%;
    border-radius: 5px;
}














